Taller-3/Sign-Language-Digits-Dataset/
Taller-3/Dataset-Combinado/
Taller-3-Completo/Sign-Language-Digits-Dataset/
Taller-3-Completo/Dataset-Combinado/
Taller-3-Completo/modelo_base_combinado_128_nuevo_HDHD.keras
Taller-3-Completo/modelo_base_combinado_128_nuevo.keras
Taller-3-Completo/modelo_base_combinado_128_nuevo.keras
Taller-3-Completo/modelo_base_combinado_128.keras
Taller-3-Completo/modelo_base_combinado.keras
Taller-3-Completo/modelo_base.keras
Taller-3-Completo/modelo_dropout.keras
Taller-3-Completo/modelo_l2.keras
